<ng-stepper #cdkStepper [linear]="true">
    <cdk-step *ngIf="user?.rolename== 'User'">
        <ng-template cdkStepLabel>
            <div class="step-bullet">1</div>
            <div class="step-title" [ngStyle]="{ color: colorthemes_2 }">Ligand</div>
        </ng-template>
        <app-ligand></app-ligand>
    </cdk-step>
    <cdk-step *ngIf="user?.rolename== 'User'">
        <ng-template cdkStepLabel>
            <div class="step-bullet">2</div>
            <div class="step-title" [ngStyle]="{ color: colorthemes_2 }">Assay, Measurement, BiologicalSystem & Target</div>
        </ng-template>
        <app-assay></app-assay>
    </cdk-step>

    <cdk-step *ngIf="user?.rolename== 'Reviewer'">
        <ng-template cdkStepLabel>
            <div class="step-title" [ngStyle]="{ color: colorthemes_2 }" style="text-align:center !important;padding-right: 100px;">Reviewer Screen</div>
        </ng-template>
        <app-report></app-report>
    </cdk-step>

</ng-stepper>