<nav mat-tab-nav-bar>

    <a mat-tab-link routerLink="./app-mytask" routerLinkActive #myTaskTab="routerLinkActive" [active]="myTaskTab.isActive">My Task</a>
    <a mat-tab-link routerLink="./app-pending" routerLinkActive #pendingTab="routerLinkActive" [active]="pendingTab.isActive">To Be Started</a>
    <a mat-tab-link routerLink="./app-inprocess" routerLinkActive #inProcessTab="routerLinkActive" [active]="inProcessTab.isActive">In Process </a>
    <a mat-tab-link routerLink="./app-submitted-to-qc" routerLinkActive #submittedToQcTab="routerLinkActive" [active]="submittedToQcTab.isActive">Submitted to QC</a>

</nav>
<router-outlet></router-outlet>